<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Login</title>

    <!--/*/ <th:block th:include="fragments/header:: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <span th:text="#{lang.change}"></span>:
    <select id="locales">
        <option value=""></option>
        <option value="en" th:text="#{lang.eng}"></option>
        <option value="ru" th:text="#{lang.rus}"></option>
    </select>

    <h2 th:text="#{login.header}"></h2>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="#{login.message}"></h3>
            </div>
            <div class="panel-body">
                    <div th:if="${logout}" class="alert alert-info" role="alert" th:text="#{login.logout.message}"></div>
                    <div th:if="${error}" class="alert alert-danger" role="alert" th:text="#{login.error.message}"></div>
                <form method="post">
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                    <div class="form-group">
                        <label for="username" th:text="#{login.username}"></label>
                        <input type="text" class="form-control" id="username" th:placeholder="#{login.username}" name="username"/>
                    </div>
                    <div class="form-group">
                        <label for="password" th:text="#{login.password}"></label>
                        <input type="password" class="form-control" id="password" th:placeholder="#{login.password}" name="password"/>
                    </div>

                    <button type="submit" class="btn btn-default" th:text="#{login.button}"></button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>