<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Login</title>

</head><script th:src="@{/js/functions.js}"></script>
<body>
<div class="container">


    <h2>Register</h2>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Type your username and password</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
                </ul>
                <form th:action="@{/register}" th:object="userForm" method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{name}" th:required="required"/>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}" th:required="required"/>
                    </div>

                    <div class="form-group">
                        <label for="password">Confirm Password</label>matchingPassword
                        <input type="password" class="form-control" id="passwordConfirm" placeholder="Confirm Password" th:field="*{matchingPassword}" th:required="required"/>
                    </div>

                    <button type="submit" class="btn btn-default">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>