<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title th:text="#{sources.sources}"></title>

    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(sources)}">
        <h2 th:text="#{sources.sources}"></h2>
        <table class="table table-striped">
            <tr>
                <th th:text="#{sources.name}"></th>
                <th th:text="#{sources.description}"></th>
                <th th:text="#{action.actions}"></th>
            </tr>
            <tr th:each="source : ${sources}">
                <td th:text="${source.name}">Name</td>
                <td th:text="${source.description}">Description</td>
                <td>
                    <ul class="list-inline">
                        <li><a th:href="${'/sources/details/' + source.id}" th:text="#{action.view}"></a></li>
                        <li><a th:href="${'/sources/edit/'    + source.id}" th:text="#{action.edit}"></a></li>
                        <li><a th:href="${'/sources/delete/'  + source.id}" th:text="#{action.delete}"></a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <a th:href="${ '/sources/new'}" th:text="#{sources.create}"></a>
</div>

</body>
</html>