<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Entry Details</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>Income Entry Details</h2>
    <div>
        <form class="form-horizontal">

            <div class="form-group">
                <label class="col-sm-2 control-label">Entry Date:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${entry.entryDate}">Date</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Entry Source:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${entry.source}">Source</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Entry Type:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${entry.entryType}">Type</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Category:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${entry.category}">Category</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Amount:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${entry.amount}">Amount</p>
                </div>
            </div>

        </form>
    </div>
</div>

</body>
</html>