<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title th:text="#{entry.entries}"></title>

    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
    <script th:src="@{/js/functions.js}"></script>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <a th:href="${'/entries/new_entry'}"> CREATE </a>
    <div th:if="${not noEntries}">
        <h2 th:text="#{entry.entries}"></h2>
        <table class="table table-striped" id="entriesTable">
            <tr>
                <th th:text="#{entry.date}">Entry Date</th>
                <th th:text="#{entry.source}">Entry Source</th>
                <th th:text="#{entry.type}">Entry Type</th>
                <th th:text="#{entry.category}">Category</th>
                <th th:text="#{entry.amount}">Amount</th>
                <th th:text="#{action.actions}">Actions</th>
            </tr>
            <tr>
                <td>
                    <input type="date" class="form-control" id="dateFromFilter" onchange="performFilter()"/>
                    <input type="date" class="form-control" id="dateToFilter" onchange="performFilter()"/>
                </td>
                <td>
                    <select id="sourceFilter" class="form-control" onchange="performFilter()">
                        <option value="" selected="selected" th:text="#{action.filter}"></option>
                        <option th:each="s : ${sources}"
                                th:value="${s.id}"
                                th:text="${s.name}">Source</option>
                    </select>
                </td>
                <td>
                    <select id="typeFilter" class="form-control" onchange="toggleCategories()">
                        <option value="" selected="selected" th:text="#{action.filter}"></option>
                        <option th:each="type : ${entryTypes}"
                                th:value="${type.name}"
                                th:text="${type.name}">Entry Type</option>
                    </select>
                </td>
                <td>
                    <select id="categoryFilter" class="form-control" onchange="performFilter()">

                    </select>
                </td>
                <td>
                    <b><p id="totalIncome" style="color: green"></p></b>
                    <b><p id="totalOutcome" style="color: darkred"></p></b>
                    <b><p id="balance" style="color: cornflowerblue"></p></b>
                </td>
                <td>
                    Actions
                </td>
                <script th:inline="javascript">
                    $( document ).ready(function() {
                        /*<![CDATA[*/
                        var categoriesArray = [[${categories}]];
                        var options = "<option value='' selected='selected' th:text='#{action.filter}'>Select to Filter..</option>";

                        for (var i = 0; i < categoriesArray.length; i++){
                            if (($('#typeFilter').val() != "") && categoriesArray[i].type.$name == $('#typeFilter').val()){
                                options += "<option value='"+categoriesArray[i].id+"' text='"+categoriesArray[i].name+"'>"+categoriesArray[i].name+"</option>";
                            } else {
                                options += "<option value='"+categoriesArray[i].id+"' text='"+categoriesArray[i].name+"'>"+categoriesArray[i].name+"</option>";
                            }
                        }
                        $('#categoryFilter').html(options);
                        performFilter();
                        /*]]>*/
                    });

                    function toggleCategories() {
                        /*<![CDATA[*/
                        var typeFilter = $('#typeFilter').val();
                        var categoriesArray = [[${categories}]];
                        var options = "<option value='' selected='selected' >Select to Filter..</option>";
                        if  (typeFilter != "") {
                            for (var i = 0; i < categoriesArray.length; i++){
                                var categoryTypeName = categoriesArray[i].type.$name;
                                if (categoryTypeName == typeFilter){
                                    options += "<option value='"+categoriesArray[i].id+"' text='"+categoriesArray[i].name+"'>"+categoriesArray[i].name+"</option>";
                                }
                            }
                        } else {
                            for (var i = 0; i < categoriesArray.length; i++){
                                options += "<option value='"+categoriesArray[i].id+"' text='"+categoriesArray[i].name+"'>"+categoriesArray[i].name+"</option>";
                            }
                        }

                        $('#categoryFilter').html(options);
                        /*]]>*/
                        performFilter();
                    }

                    function performFilter() {
                        var token = $("meta[name='_csrf']").attr("content");
                        var header = $("meta[name='_csrf_header']").attr("content");
                        filter(header, token)
                    }
                </script>

            </tr>
            <tr id="entries">

            </tr>
            <!--tr th:each="entry : ${entries}">
                <td th:text="${entry.entryDate}" colspan="2">Date</td>
                <td th:text="${entry.source}">Source</td>
                <td th:text="${entry.entryType}">Type</td>
                <td th:text="${entry.category}">Category</td>
                <td th:text="${entry.amount}">Amount</td>
                <td>
                    <ul class="list-inline">
                        <li><a th:href="${'/entries/details/' + entry.id}">View</a></li>
                        <li><a th:href="${'/entries/edit/' + entry.id}">Edit</a></li>
                        <li><a th:href="${'/entries/delete/' + entry.id}">Delete</a></li>
                    </ul>
                </td>
            </tr-->
        </table>
    </div>
</div>
</body>
</html>