<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Entries</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div th:if="${not noEntries}">
        <h2>Entries</h2>
        <table class="table table-striped" id="entriesTable">
            <tr>
                <th>ID</th>>
                <th>Entry Date</th>
                <th>Entry Source</th>
                <th>Entry Type</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>ID</td>
                <td>
                    <input type="date" class="form-control" id="dateFromFilter" onchange="filter()"/>
                    <input type="date" class="form-control" id="dateToFilter" onchange="filter()"/>
                </td>
                <td>
                    <select id="sourceFilter" class="form-control" onchange="filter()">
                        <option value="" selected="selected">Select to Filter..</option>
                        <option th:each="s : ${sources}"
                                th:value="${s.id}"
                                th:text="${s.name}">Source</option>
                    </select>
                </td>
                <td>
                    <select id="typeFilter" class="form-control" onchange="toggleCategories()">
                        <option value="" selected="selected">Select to Filter..</option>
                        <option th:each="type : ${entryTypes}"
                                th:value="${type.name}"
                                th:text="${type.name}">Entry Type</option>
                    </select>
                </td>
                <td>
                    <select id="categoryFilter" class="form-control" onchange="filter()">

                    </select>
                </td>
                <td id="totalAmount">

                </td>
                <td>
                    Actions
                </td>
                <script th:inline="javascript">
                    $( document ).ready(function() {
                        /*<![CDATA[*/
                        var categoriesArray = [[${categories}]];
                        var options = "<option value='' selected='selected'>Select to Filter..</option>";

                        for (var i = 0; i < categoriesArray.length; i++){
                            if (($('#typeFilter').val() != "") && categoriesArray[i].type.$name == $('#typeFilter').val()){
                                options += "<option value='"+categoriesArray[i].id+"' text='"+categoriesArray[i].name+"'>"+categoriesArray[i].name+"</option>";
                            } else {
                                options += "<option value='"+categoriesArray[i].id+"' text='"+categoriesArray[i].name+"'>"+categoriesArray[i].name+"</option>";
                            }
                        }
                        $('#categoryFilter').html(options);
                        filter();
                        /*]]>*/
                    });

                    function toggleCategories() {
                        $('#typeFilter').change(function () {
                            /*<![CDATA[*/
                            var typeFilter = $('#typeFilter').val();
                            var categoriesArray = [[${categories}]];
                            var options = "<option value='' selected='selected'>Select to Filter..</option>";
                            if  (typeFilter != "") {
                                for (var i = 0; i < categoriesArray.length; i++){
                                    var categoryTypeName = categoriesArray[i].type.$name;
                                    if (categoryTypeName == typeFilter){
                                        options += "<option value='"+categoriesArray[i].id+"' text='"+categoriesArray[i].name+"'>"+categoriesArray[i].name+"</option>";
                                    }
                                }
                            } else {
                                for (var i = 0; i < categoriesArray.length; i++){
                                    options += "<option value='"+categoriesArray[i].id+"' text='"+categoriesArray[i].name+"'>"+categoriesArray[i].name+"</option>";
                                }
                            }

                            $('#categoryFilter').html(options);
                            /*]]>*/
                        });
                        filter();
                    }
                </script>

            </tr>
            <tr id="entries">

            </tr>
            <!--tr th:each="entry : ${entries}">
                <td th:text="${entry.entryDate}" colspan="2">Date</td>
                <td th:text="${entry.source}">Source</td>
                <td th:text="${entry.entryType}">Type</td>
                <td th:text="${entry.category}">Category</td>
                <td th:text="${entry.amount}">Amount</td>
                <td>
                    <ul class="list-inline">
                        <li><a th:href="${'/entries/details/' + entry.id}">View</a></li>
                        <li><a th:href="${'/entries/edit/' + entry.id}">Edit</a></li>
                        <li><a th:href="${'/entries/delete/' + entry.id}">Delete</a></li>
                    </ul>
                </td>
            </tr-->
        </table>
    </div>

    <a th:href="${'/entries/new_entry'}">Create entry</a>

</div>
</body>
</html>