<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Entry</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <!--
    entryDate
    entryType
    category
    amount
    -->
    <h2>New Income Entry</h2>
    <div>
        <form class="form-horizontal" th:object="${entry}" th:action="@{/entries/save}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>

            <div class="form-group">
                <label class="col-sm-2 control-label">Entry Date:</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" th:field="*{entryDate}" th:required="required"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Entry Type:</label>
                <div class="col-sm-10">
                    <select th:field="*{entryType}" th:required="required"  id="entryType" onclick="toggleCategories()">
                        <option th:each="type : ${entryType}"
                                th:value="${type.name}"
                                th:text="${type.name}">Entry Type</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Category:</label>
                <div class="col-sm-10">
                    <select th:field="*{category}" th:required="required" id="categories">
                        <!--option th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:text="${category.name}">Category</option-->
                    </select>
                </div>
            </div>

            <script th:inline="javascript">
                $( document ).ready(function() {
                    /*<![CDATA[*/
                    var categoriesArray = [[${categories}]];
                    var options;
                    if ([[${oldCategory}]] == null)
                        options = "<option value='null' selected='selected'>Select category</option>";
                    else
                        options = "<option value='null'>Select category</option>"

                    if ($('#entryType').val() != "") {
                        for (var i = 0; i < categoriesArray.length; i++){
                            if (categoriesArray[i].type.$name == $('#entryType').val()){

                                if ([[${oldCategory.name}]] == categoriesArray[i].name)
                                    options += "<option value='"+categoriesArray[i].id+"' selected='selected' text='"+categoriesArray[i].name+"'>"+categoriesArray[i].name+"</option>";
                                else
                                    options += "<option value='"+categoriesArray[i].id+"' text='"+categoriesArray[i].name+"'>"+categoriesArray[i].name+"</option>";
                            }
                        }
                    }
                    $('#categories').html(options);
                    /*]]>*/
                });

                function toggleCategories() {
                    $('#entryType').change(function () {
                        /*<![CDATA[*/
                        var categoriesArray = [[${categories}]];
                        var options;
                        options = "<option value selected='selected'>Select category</option>";
                        for (var i = 0; i < categoriesArray.length; i++){
                            if (categoriesArray[i].type.$name == $('#entryType').val()){
                                options += "<option value='"+categoriesArray[i].id+"' text='"+categoriesArray[i].name+"'>"+categoriesArray[i].name+"</option>";
                            }
                        }
                        $('#categories').html(options);
                        /*]]>*/
                    });
                }
            </script>

            <div class="form-group">
                <label class="col-sm-2 control-label">Amount:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{amount}" th:required="required"/>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>