<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Category Details</title>

    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Category Details</h2>
    <div>
        <form class="form-horizontal">

            <div class="form-group">
                <label class="col-sm-2 control-label">Type:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${category.type}">Type</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${category.name}">Name</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Rating:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${category.rating}">Rating</p>
                </div>
            </div>

        </form>
    </div>
</div>

</body>
</html>