<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title th:text="#{categories.category}"></title>

    <!--/*/ <th:block th:include="fragments/header:: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2 th:text="#{categories.new}"></h2>
    <div>
        <form class="form-horizontal" th:object="${category}" th:action="@{/categories/save}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label" th:text="#{categories.type}"></label>
                <div class="col-sm-10">
                    <div class="radio"  th:each="type : ${types}">
                        <label><input type="radio" th:field="*{type}" th:value="${type}" th:text="${type}" th:required="required"/></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" th:text="#{categories.name}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}" th:required="required"/>
                </div>
            </div>

            <div class="form-group" style="display: none;">
                <label class="col-sm-2 control-label" th:text="#{categories.rating}" ></label>
                <div class="col-sm-10">
                    <input type="number" value="1" class="form-control" th:field="*{rating}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default" th:text="#{form.save}"></button>
            </div>
        </form>
    </div>
</div>

</body>
</html>